@charset "UTF-8";
/*
    importacion de las hojas de estilo en las que se definieron
    las variables, layouts y fuentes utilizadas por cada una de
    las secciones de este proyecto su RUTA: 'src/sass/shared'
*/
/*
    colores
*/
/*
    fondos
*/
/*
    sombras
*/
/*
    bordes
*/
/*
    esta hoja de estilos contiene las fuentes utilizadas en
    cada una de las secciones de este proyecto y sera consumida
    por la hoja de estilos raiz en la RUTA 'assets/sass/main.scss' 
*/
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Source+Sans+Pro:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&family=PT+Sans&display=swap");
/*
    esta hoja de estilos contiene las hojas de estilos
    de cada una de las secciones de este proyecto y sera consumida
    por la hoja de estilos raiz en la RUTA 'assets/sass/main.scss' 
*/
/*
    esta clase hace referencia a contenedor del sidebar...
    hacemos uso de la propiedad HIDDEN para ocultar el 
    esceso visual de contenido debido a su poco WIDTH... 
    la transicion la usamos para suavizar el :HOVER
*/
.component_navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 89;
  height: 100vh;
  -webkit-transition: width .5s ease;
  transition: width .5s ease;
  /*
        propiedades para diseño resposive en
        dispositivos moviles 999px <= <= <=
    */
  /*
        propiedades para diseño resposive en 
        tablets y destoks 1000px => => =>
    */
}

@media (max-width: 599px) {
  .component_navbar {
    top: 60px;
  }
}

@media (min-width: 700px) {
  .component_navbar {
    top: 60px;
  }
}

@media (max-width: 1099px) {
  .component_navbar {
    width: 0%;
    /*
            clase añadida con 'src/js/header.js' a COMPONENT_NAVBAR
        */
  }
  .component_navbar.open_navbar {
    width: 75px;
  }
  .component_navbar:hover {
    width: 240px;
  }
}

@media (min-width: 1100px) {
  .component_navbar {
    width: 75px;
    /*
            clase añadida con 'src/js/header.js' a COMPONENT_NAVBAR
        */
  }
  .component_navbar.close_navbar {
    width: 0%;
  }
  .component_navbar:hover {
    width: 240px;
  }
}

.component_navbar .box_nav_navbar {
  background-color: #0e89fc;
  height: 100%;
  overflow-x: hidden;
}

.component_navbar .box_nav_navbar ul {
  padding: 40px 0 40px 9px;
}

.component_navbar .box_nav_navbar ul li {
  list-style: none;
  /*
                    clase añadida con javascript... 
                    define propiedades cuando el enlace de 
                    navegacion es seleccionado por el usuario
                */
  /*
                    TAG referente al redireccionamiento en el sitio web
                    usamos FLEXBOX  y HEIGHT para alinear los iconos y los titulos
                    verticalmente
                */
}

.component_navbar .box_nav_navbar ul li.active_link {
  background-color: #fff;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.component_navbar .box_nav_navbar ul li.active_link a {
  color: #333;
}

.component_navbar .box_nav_navbar ul li a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  font-family: 'PT Sans', sans-serif;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.component_navbar .box_nav_navbar ul li a .icon_ion {
  margin: 0 35px 0 15px;
  line-height: 20px;
}

.component_navbar .box_navbar_colors button {
  outline: none;
  border: none;
  background-color: #0e89fc;
  color: #fff;
  font-size: 22px;
  font-family: 'PT Sans', sans-serif;
  letter-spacing: 1px;
  width: 100%;
  padding: 20px 0;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.component_navbar .box_navbar_colors button:hover {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}

/*
    definimos WIDTH en las medidas definidas en las media QUERYS
*/
.fixed_navbar {
  -webkit-transition: min-width 0.5s ease;
  transition: min-width 0.5s ease;
}

@media (max-width: 1099px) {
  .fixed_navbar {
    min-width: 0;
  }
}

@media (min-width: 1100px) {
  .fixed_navbar {
    min-width: 75px;
  }
  .fixed_navbar.close_fixed {
    min-width: 0%;
  }
}

/*
    definimos POSITION y sus medidas para que (COMPONENT_HEADER) se fije
    en la parte superior de la pantalla y este siempre al frente, con FLEXBOX 
    alineamos y centramos los elementos
*/
.component_header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 79;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  /*
    clase añadida con 'src/js/header.js' a COMPONENT_HEADER 
    */
  /*
        hacemos uso de POSITION, WIDTH, HEIGHT y SHADOW
        para crear la caja donde va posicionado el icono dark mode
    */
}

.component_header.scorll_header {
  background-color: #fcfafa;
  -webkit-box-shadow: 0 0 10px 0 #0000001f;
          box-shadow: 0 0 10px 0 #0000001f;
}

.component_header .box_dark {
  position: relative;
  width: 74px;
  height: 34px;
  border-radius: 100px;
  background-color: #fcfafa;
  -webkit-box-shadow: inset 0 4px 8px 0 rgba(0, 0, 0, 0.1), inset 0 -4px 4px 0 rgba(199, 195, 195, 0.1);
          box-shadow: inset 0 4px 8px 0 rgba(0, 0, 0, 0.1), inset 0 -4px 4px 0 rgba(199, 195, 195, 0.1);
  /*
            hacemos uso de POSITION, las propiedades de medida BACKGROUND 
            y SHADOW para crear el BOTON (light)
        */
}

.component_header .box_dark .icon_dark {
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 34px;
  background: -webkit-gradient(linear, left top, left bottom, from(#eaeaea), to(#f9f9f9));
  background: linear-gradient(to bottom, #eaeaea, #f9f9f9);
  border-radius: 50%;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-box-shadow: inset 0 4px 4px 0 white, inset 0 -4px 4px 0 white;
          box-shadow: inset 0 4px 4px 0 white, inset 0 -4px 4px 0 white;
  cursor: pointer;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  /*
                clase añadida con 'src/js/header.js', a ICON_MODE_HEADER 
            */
}

.component_header .box_dark .icon_dark.active_dark {
  left: 40px;
  background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#2b2b2bd2));
  background: linear-gradient(to bottom, #444, #2b2b2bd2);
  -webkit-box-shadow: inset 0 4px 4px 0 rgba(194, 194, 194, 0.76), inset 0 -4px 4px 0 rgba(194, 194, 194, 0.76);
          box-shadow: inset 0 4px 4px 0 rgba(194, 194, 194, 0.76), inset 0 -4px 4px 0 rgba(194, 194, 194, 0.76);
}

.component_header .box_menuIcon_header {
  border-radius: 10px;
  cursor: pointer;
  /*
            clase añadida con 'src/js/header.js', a BOX_MENUICON_HEADER
            la cual translada y rota la primera y tercera linea y desvanece la 
            segunda para convertir el menu burger en X
        */
  /*
            clase añadida con 'src/js/navbar.js', a BOX_MENUICON_HEADER
            la cual transalada y rota la primera y tercera linea, retira la opacidad 
            de la segunda linea y genera un margen en para convertir el menu de X a burger 
        */
  /*
            definimos las propiedades DISPLAY, BACKGROUND, WIDTH Y HEIGHT 
            para crear el menu burger
        */
}

@media (max-width: 1099px) {
  .component_header .box_menuIcon_header.transform_iconMenu .line_icon:nth-child(1) {
    -webkit-transform: translateY(9px) rotate(-45deg);
            transform: translateY(9px) rotate(-45deg);
  }
  .component_header .box_menuIcon_header.transform_iconMenu .line_icon:nth-child(2) {
    opacity: 0;
  }
  .component_header .box_menuIcon_header.transform_iconMenu .line_icon:nth-child(3) {
    -webkit-transform: translateY(-9px) rotate(45deg);
            transform: translateY(-9px) rotate(45deg);
  }
}

@media (min-width: 1100px) {
  .component_header .box_menuIcon_header.transform_iconMenu .line_icon:nth-child(1) {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
  }
  .component_header .box_menuIcon_header.transform_iconMenu .line_icon:nth-child(2) {
    opacity: 1;
    margin: 5px 0;
  }
  .component_header .box_menuIcon_header.transform_iconMenu .line_icon:nth-child(3) {
    -webkit-transform: translateY(0) rotate(0);
            transform: translateY(0) rotate(0);
  }
}

.component_header .box_menuIcon_header .line_icon {
  display: block;
  background-color: #0e89fc;
  border-radius: 10px;
  width: 30px;
  height: 4px;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  /*
                definimos margen en la segunda linea del menu burger
            */
  /*
                transladamos y rotamos la primera y tercera linea y 
                desvanecemos la segunda para convertir el menu en X
            */
}

@media (max-width: 1099px) {
  .component_header .box_menuIcon_header .line_icon:nth-child(2) {
    margin: 5px 0;
  }
}

@media (min-width: 1100px) {
  .component_header .box_menuIcon_header .line_icon:nth-child(1) {
    -webkit-transform: translateY(4px) rotate(-45deg);
            transform: translateY(4px) rotate(-45deg);
  }
  .component_header .box_menuIcon_header .line_icon:nth-child(2) {
    opacity: 0;
  }
  .component_header .box_menuIcon_header .line_icon:nth-child(3) {
    -webkit-transform: translateY(-4px) rotate(45deg);
            transform: translateY(-4px) rotate(45deg);
  }
}

.component_banner .box_img_banner {
  text-align: center;
}

.component_banner .box_img_banner img {
  border: 5px solid #0e89fc;
  border-radius: 50%;
  width: 140px;
  height: 140px;
  padding: 20px;
  -webkit-box-shadow: 0 2px 6px 0 #a8a4a4;
          box-shadow: 0 2px 6px 0 #a8a4a4;
}

.component_banner .box_img_banner .box_hdv_banner {
  padding: 10px 0;
}

.component_banner .box_img_banner .box_hdv_banner a {
  color: #0e89fc;
}

.component_banner p {
  text-align: justify;
}

@media (max-width: 999px) {
  .component_banner p {
    padding: 25px 0;
  }
}

@media (min-width: 1000px) {
  .component_banner p {
    padding: 15px 40px;
  }
}

.component_banner .box_btn {
  padding-top: 30px;
}

/*
    definimos POSITION y sus medidas para que (component_modal) ocupe el 
    ancho total de la pantalla y este siempre al frente, con FLEXBOX alineamos 
    y centramos los elementos y los ocultamos con VISIBILITY
*/
.component_modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: #0000004b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: hidden;
  cursor: pointer;
  /*
        clase añadida con 'src/js/banner_modal.js' a COMPONENT_MODAL
    */
  /*
        clase añadida con 'src/js/banner_modal.js' a COMPONENT_MODAL
    */
  /*
        definimos TRANSFORM para transladar 100px hacia arriba la tarjeta
    */
}

.component_modal.visible_modal {
  visibility: visible;
}

.component_modal.hidden_modal {
  visibility: hidden;
}

.component_modal .container_card_modal {
  background-color: #fff;
  border-radius: 10px;
  width: 84%;
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  /*
            clase añadida con 'src/js/banner_modal.js' a CONTAINER_CARD_MODAL
        */
}

@media (max-width: 700px) {
  .component_modal .container_card_modal {
    height: 85%;
    overflow-y: scroll;
  }
}

@media (min-width: 1300px) {
  .component_modal .container_card_modal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.component_modal .container_card_modal.translate_down {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: -webkit-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
}

@media (max-width: 1299px) {
  .component_modal .container_card_modal .box_img_modal {
    display: none;
  }
}

@media (min-width: 1300px) {
  .component_modal .container_card_modal .box_img_modal {
    width: 50%;
  }
}

.component_modal .container_card_modal .box_img_modal img {
  width: 100%;
  height: 100%;
}

.component_modal .container_card_modal .box_content_modal {
  color: #7e7b7c;
  font-family: 'PT Sans', sans-serif;
}

@media (max-width: 1299px) {
  .component_modal .container_card_modal .box_content_modal {
    padding: 30px 20px 40px;
  }
}

@media (min-width: 1300px) {
  .component_modal .container_card_modal .box_content_modal {
    width: 50%;
    padding: 30px 40px 40px;
  }
}

.component_modal .container_card_modal .box_content_modal .box_icon_modal {
  text-align: center;
  margin-bottom: 10px;
}

.component_modal .container_card_modal .box_content_modal .box_icon_modal ion-icon {
  color: #0e89fc;
  font-size: 48px;
}

.component_modal .container_card_modal .box_content_modal ol li {
  list-style: none;
  margin: 14px 0 14px 14px;
}

.component_modal .container_card_modal .box_content_modal ol li ion-icon {
  color: #0e89fc;
  font-size: 24px;
}

.component_skills {
  /*
    usamos DISPLAY para crear una rejilla
  */
}

.component_skills h3 {
  padding-bottom: 30px;
}

.component_skills .container_skills {
  display: -ms-grid;
  display: grid;
  gap: 10px;
  /*
      importante definir POSITION y Z-INDEX para posicionar
      esta TAG sobre la barra de progreso
    */
}

@media (max-width: 479px) {
  .component_skills .container_skills {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 10px 5px;
  }
}

@media (min-width: 480px) {
  .component_skills .container_skills {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 780px) {
  .component_skills .container_skills {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1200px) {
  .component_skills .container_skills {
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
  }
}

.component_skills .container_skills .box_skills {
  text-align: center;
  position: relative;
  z-index: 0;
  background-color: #fff;
  border: 1px solid #cccccc86;
  border-radius: 10px;
  cursor: pointer;
  /*
        creamos la barra de progreso usando :BEFORE, definimos POSITION y las 
        porpiedades de medida para ubicar la barra de progreso y definimos un WIDTH 0
      */
  /*
        haciendo :HOVER a las clases de la TAG ARTICLE redefinimos el WIDTH 
        definido en :BEFORE logrando el fecto de barra de progreso 
      */
  /*
        cuando hacemos :HOVER en las TAGS ARTICLE añadimos una animacion en 
        (box_img_skills) que translada la IMG generando un efecto de movimiento
      */
  /*
        cuando hacemos :HOVER en las TAGS ARTICLE redefinimos OPACITY propeidad 
        definida en (box_level_skills)
      */
  /*
        definimos OPACITY 0 para luego redefinirlo cuando
        hagamos :HOVER en las TAGS ARTICLES
      */
}

.component_skills .container_skills .box_skills:before {
  content: '';
  position: absolute;
  z-index: -2;
  left: 0;
  top: 0;
  width: 100%;
  height: 30px;
  border-radius: 10px 10px 0px 0;
  opacity: 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.component_skills .container_skills .box_skills:hover:before {
  opacity: 1;
}

.component_skills .container_skills .box_skills:hover .box_img_skills {
  -webkit-animation: img_Move 1s infinite;
          animation: img_Move 1s infinite;
}

@-webkit-keyframes img_Move {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes img_Move {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.component_skills .container_skills .box_skills:hover .box_level_skills {
  opacity: 1;
}

.component_skills .container_skills .box_skills .box_img_skills {
  padding: 44px 0 10px;
}

.component_skills .container_skills .box_skills .box_img_skills img {
  margin-top: 10px;
}

@media (max-width: 479px) {
  .component_skills .container_skills .box_skills .box_img_skills img {
    width: 64px;
    height: 64px;
  }
}

@media (min-width: 480px) {
  .component_skills .container_skills .box_skills .box_img_skills img {
    width: 74px;
    height: 74px;
  }
}

@media (min-width: 1200px) {
  .component_skills .container_skills .box_skills .box_img_skills img {
    width: 114px;
    height: 114px;
  }
}

.component_skills .container_skills .box_skills .box_level_skills {
  font-family: 'PT Sans', sans-serif;
  color: #fff;
  border-radius: 0 0 10px 10px;
  padding: 10px 4px;
  opacity: 0;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

/*
  clases de este componente que comparten propiedades
*/
.html:hover:before, .html_level {
  background-color: #FF6D00;
}

.css:hover:before, .css_level {
  background-color: #039BE5;
}

.sass:hover:before, .sass_level {
  background-color: #F06292;
}

.bootstrap:hover:before, .bootstrap_level {
  background-color: #673AB7;
}

.javascript:hover:before, .javascript_level {
  background-color: #FFD600;
}

.angular:hover:before, .angular_level {
  background-color: #DD2C00;
}

.nodejs:hover:before, .nodejs_level {
  background-color: #388E3C;
}

.mysql:hover:before, .mysql_level {
  background-color: #F57F17;
}

.mongodb:hover:before, .mongodb_level {
  background-color: #4CAF50;
}

.git:hover:before, .git_level {
  background-color: #F4511E;
}

.illustrator:hover:before, .illustrator_level {
  background-color: #1C0802;
}

.ui_ux:hover:before, .ui_ux_level {
  background-color: #83D8F4;
}

.component_certificates .container_certify {
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #cccccc86;
  margin: 25px 0;
  padding: 12px 24px;
  /*
            definimos FLEXBOX para alinear y centrar los elementos
        */
}

.component_certificates .container_certify .box_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.component_certificates .container_certify .box_title h2 {
  color: #7e7b7c;
  font-family: 'Open Sans', sans-serif;
  font-size: 28px;
}

.component_certificates .container_certify .box_title .icon_certify {
  font-size: 28px;
  margin-top: 5px;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
  /*
                    clase añadida con 'src/js/certificates/js' a ICON_CERTIFY 
                */
}

.component_certificates .container_certify .box_title .icon_certify.rotate_icon {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.component_certificates .container_certify .content_certify {
  height: 0;
  overflow: hidden;
  /*
                clase añadida con 'src/js/certificates/js' a CONTENT_CERTIFY 
            */
}

.component_certificates .container_certify .content_certify.show_certify {
  height: inherit;
  overflow: visible;
}

.component_certificates .container_certify .content_certify h4 {
  color: #7e7b7c;
  margin: 10px 0;
}

.component_certificates .container_certify .content_certify .text_certify {
  margin: 20px 0;
}

.component_certificates .container_certify .content_certify .box_certify a {
  display: block;
  margin: 14px 0;
}

/*
    TAGS de este componente que comparten propiedades 
*/
.icon_certify, strong, a {
  color: #0e89fc;
}

@media (max-width: 999px) {
  .component_proyects .text_proyects {
    padding: 15px 0;
  }
}

@media (min-width: 1000px) {
  .component_proyects .text_proyects {
    padding: 15px 40px;
  }
}

@media (min-width: 1000px) {
  .component_contacts h3 {
    padding-bottom: 40px;
  }
}

@media (min-width: 1000px) {
  .component_contacts .box_data_form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 900px) {
  .component_contacts .box_data_form .text_card_form {
    padding: 40px 0 50px;
  }
}

.component_contacts .box_data_form form {
  /*
                definimos FLEXBOX para alinear y centrar todos los elementos
            */
}

.component_contacts .box_data_form form .box_inputs {
  /*
                    generamos espaciado en el segundo (BOX-INPUTS)
                */
  /*
                    hacemos uso de las propiedades DISPLAY, POSITION y del pseudo
                    elemento :BEFORE para crear un borde animado en los inputs
                */
}

.component_contacts .box_data_form form .box_inputs:nth-child(2) {
  margin: 30px 0;
}

.component_contacts .box_data_form form .box_inputs input {
  outline: none;
  border: none;
  color: #7e7b7c;
  border-bottom: 1px solid #ccc;
  font-family: 'PT Sans', sans-serif;
  font-size: 22px;
  letter-spacing: 1px;
  width: 100%;
  padding: 8px;
  /*
                        cuando el INPUT tiene el :FOCUS haciendo uso del selector (~)
                        el SPAN:BEFORE redefine el ancho mostrando el borde animado
                    */
}

.component_contacts .box_data_form form .box_inputs input:focus ~ span:before {
  width: 100%;
}

.component_contacts .box_data_form form .box_inputs span {
  display: block;
  position: relative;
}

.component_contacts .box_data_form form .box_inputs span:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  -webkit-box-shadow: 0 -10px 10px transparent, 0 3px 5px #8d8a8a55;
          box-shadow: 0 -10px 10px transparent, 0 3px 5px #8d8a8a55;
  -webkit-transition: width .5s ease-in;
  transition: width .5s ease-in;
}

.component_contacts .box_data_form form .box_inputs .box_errors {
  color: #fff;
  background-color: #0e89fc;
  font-size: 18px;
  letter-spacing: 1;
  width: inherit;
  padding: 8px;
  display: none;
  /*
                        SHOW_ERROR: clase añadida desde 'src/js/conatctos.js', muestra 
                        los errores si los datos ingresador en los INPUTS son incorrectos
                    */
}

.component_contacts .box_data_form form .box_inputs .box_errors.show_error {
  display: block;
}

.component_contacts .box_data_form form .box_btn {
  margin: 60px 0;
}

.component_contacts .box_data_form form .box_socials_contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /*
                    definimos que las TAGS A se oculten con OPACITY, y con 
                    MARGIN los agrupamos generando un efecto RESORTE.
                */
}

.component_contacts .box_data_form form .box_socials_contacts input {
  display: none;
  /*
                        haciendo uso de la pseudo clase :CHECKED y el selector (~) 
                        definimos que las TAGS A sean visibles con OPACITY y con 
                        MARGIN los desagrupamos generando un efecto RESORTE.
                    */
}

.component_contacts .box_data_form form .box_socials_contacts input:checked ~ a {
  opacity: 1;
  margin: 0 0 0 8px;
}

.component_contacts .box_data_form form .box_socials_contacts a {
  opacity: 0;
  margin-right: -45px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

/*
    TAGS de este componente que comparten propiedades
*/
@media (min-width: 1000px) {
  .text_card_form, form {
    border: 1px solid #cccccc86;
    border-radius: 10px;
    width: 380px;
    margin: 0 10px;
    padding: 50px 34px;
  }
}

.icon_contacts {
  background-color: #0e89fc;
  color: #fff;
  border-radius: 50%;
  padding: 12px;
  -webkit-box-shadow: 0 2px 6px 0 #a8a4a4;
          box-shadow: 0 2px 6px 0 #a8a4a4;
  cursor: pointer;
}

/*
    definimos POSITION y las propiedades de medidas para posicionar el footer
*/
footer {
  position: fixed;
  right: 0;
  bottom: 16px;
  z-index: 69;
  margin: 0 15px;
  /*
        definimos OPACITY para desvanecer el icono 
    */
}

footer ion-icon {
  background-color: #0e89fc;
  color: #fff;
  font-size: 25px;
  border-radius: 50%;
  padding: 12px;
  opacity: 0;
  cursor: pointer;
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
  /*
            clase añadida con 'src/js/footer.js' a ION-ICON
        */
}

footer ion-icon.show_gotop {
  opacity: 1;
  -webkit-animation: animateGotop 1s ease 1s 3;
          animation: animateGotop 1s ease 1s 3;
  /*
                esta ANIMACION genera un movimiento al boton
            */
}

@-webkit-keyframes animateGotop {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes animateGotop {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

/*
    reseteo de las propiedades que traen por defecto los navegadores
*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*
    definimos en el body un color de fondo
*/
body {
  background-color: #fcfafa;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

body {
  /*
        clase añadida con 'src/js/header.js'
    */
}

body.body_darkmode {
  background-color: #2b2b2bd2;
}

.component_dark {
  /*
        clase añadida con 'src/js/header.js'
    */
}

.component_dark.component_darkmode {
  background-color: #525050 !important;
  border: 1px solid #cccccc86 !important;
}

.text_dark {
  /*
    clase añadida con 'src/js/header.js'
    */
}

.text_dark.text_light {
  color: #fff !important;
}

/*
    definimos FLEXBOX en el dashboard
*/
.container_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container_body .container_right {
  width: 100%;
}

@media (min-width: 1100px) {
  .container_body .container_right {
    margin: 0 80px;
  }
}

.component_banner, .component_contacts, .component_proyects {
  background-color: #fff;
  min-width: 300px;
  border: 1px solid #cccccc86;
  margin: 80px 0;
}

@media (max-width: 999px) {
  .component_banner, .component_contacts, .component_proyects {
    padding: 40px 20px;
  }
}

@media (min-width: 1000px) {
  .component_banner, .component_contacts, .component_proyects {
    border-radius: 10px;
    padding: 40px 0;
  }
}

.component_skills, .component_certificates {
  min-width: 300px;
  margin: 60px 0;
}

@media (max-width: 999px) {
  .component_skills, .component_certificates {
    padding: 40px 20px;
  }
}

@media (min-width: 1000px) {
  .component_skills, .component_certificates {
    padding: 40px 0;
  }
}

/* 
    propiedades compartidas por la TAG BUTTON
*/
.box_btn {
  text-align: center;
}

.box_btn button {
  outline: none;
  border: none;
  background-color: #0e89fc;
  color: #fff;
  font-size: 20px;
  font-family: 'PT Sans', sans-serif;
  letter-spacing: 1px;
  border-radius: 5px;
  padding: 18px 60px;
  cursor: pointer;
}

.box_btn button.btn_animated {
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.box_btn button.btn_animated:hover {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}

/*
    propiedades compartidas por las TAG H3
*/
h3 {
  text-align: center;
  color: #0e89fc;
  font-family: 'Baloo', sans-serif;
}

@media (max-width: 999px) {
  h3 {
    font-size: 40px;
  }
}

@media (min-width: 1000px) {
  h3 {
    font-size: 60px;
  }
}

/*
    propiedades compartidas por las TAG P
*/
p {
  text-align: justify;
  color: #7e7b7c;
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
  line-height: 1.5;
}

li {
  font-size: 20px;
}

a, h4, strong {
  font-family: 'Baloo', sans-serif;
  line-height: 1.8;
}

a {
  font-size: 18px;
}

ion-icon {
  font-size: 25px;
}
/*# sourceMappingURL=main.css.map */