/*
    importacion de las hojas de estilo en las que se definieron
    las variables, layouts y fuentes utilizadas por cada una de
    las secciones de este proyecto su RUTA: 'src/sass/shared'
*/
@import './shared/variables';
@import './shared/fonts';
@import './shared/layout';


/*
    reseteo de las propiedades que traen por defecto los navegadores
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
};


/*
    definimos en el body un color de fondo
*/
body {
    background-color: $background_four;
    transition: all .5s ease;
    
    /*
        clase añadida con 'src/js/header.js'
    */
    &.body_darkmode {
        background-color: #2b2b2bd2;
    };
};


/*
    definimos FLEXBOX en el dashboard
*/
.container_body {
    display: flex;

    .container_right {
        width: 100%;
        
        @media (min-width: 1100px) { // dispositivos 1000px => => =>
            margin: 0 80px;
        };
    };
};

.component_banner, .component_contacts, .component_proyects {
    background-color: $background_one;
    min-width: 300px;
    border: $border_one;
    margin: 60px 0;
    
    @media (max-width: 999px) { // dispositivos 999px <= <= <=
        padding: 40px 20px;
    };
    
    @media (min-width: 1000px) { // dispositivos 1000px => => =>
        border-radius: 10px;
        padding: 40px 0;
    };
};

.component_skills, .component_certificates {
    min-width: 300px;
    margin: 60px 0;

    @media (max-width: 999px) { // dispositivos 999px <= <= <=
        padding: 40px 20px;
    };
    
    @media (min-width: 1000px) { // dispositivos 1000px => => =>
        padding: 40px 0;
    };
};


/* 
    propiedades compartidas por la TAG BUTTON
*/
.box_btn {
    text-align: center;

    button {
        outline: none;
        border: none;
        background-color: $background_three;
        color: $color_one;
        font-size: 20px;
        font-family: 'PT Sans', sans-serif;
        letter-spacing: 1px;
        border-radius: 5px;
        padding: 18px 60px;
        cursor: pointer;

        &.btn_animated {
            transition: transform 0.5s ease;
            
            &:hover {
                transform: translateY(-8px);
            };
        };
    };
};


/*
    propiedades compartidas por las TAG H3
*/
h3 {
    text-align: center;
    color: $color_three;
    font-family: 'Baloo', sans-serif;

    @media (max-width: 999px) { // dispositivos 999px <= <= <=
        font-size: 40px;
    };

    @media (min-width: 1000px) { // dispositivos 1000px => => =>
        font-size: 60px;
    };
};


/*
    propiedades compartidas por las TAG P
*/
p {
    text-align: justify;
    color: $color_two;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    line-height: 1.5;
};

li {
    font-size: 20px;
}

a, h4, strong {
    font-family: 'Baloo', sans-serif;
    line-height: 1.8;
}

a {
    font-size: 18px;
}

ion-icon {
    font-size: 25px;
}

