// /*
//     @imports: contienen variables y fuentes utilizadas en este proyecto
//     ademas del layout de las secciones. Su ruta 'src/sass/shared'
// */
@import './shared/variables';
@import './shared/fonts';
@import './shared/layout';


/*
    reseteo de las propiedades que traen por defecto los navegadores
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
};


/*
    definimos en el body un color de fondo
*/
body {
    background-color: $background_four;
    transition: all .5s ease; 

    /*
        clase añadida con 'src/js/header.js'
    */
    &.body_darkmode { background-color: #3c4042ea; };
};


/*
    clase para todos los componentes que facilitan la aplicaion
    del modo oscuro
*/
.component_dark {
    /*
        clase añadida con 'src/js/header.js'
    */
    &.component_darkmode {
        background-color: #46484A;
    };
};


/*
    clase para todos los textos que facilitan la aplicaion
    del modo oscuro
*/
.text_dark {
    /*
        clase añadida con 'src/js/header.js'
    */
    &.text_light {
        color: $color_one; // esto tiene un !important
    };
};

.container_body {

    .component_navbar {
        width: 0;
        overflow: hidden;
        transition: width .3s ease-in-out;

        &.open_navbar { width: 240px; };
    };
};

/*
    propiedades compartidas entre los COMPONENTES BANNER, 
    SKILLS, CERTIFICATES, PROYECTS y CONTACTS
*/
.component_banner, .component_skills, .component_certificates,
.component_proyects, .component_contacts {
    margin: 80px 0 50px;
    padding: 40px 20px;
};


/*
    propiedades compartidas entre los COMPONENTES BANNER,
    PROYECTS y CONTACTS
*/
.component_banner, .component_skills, .component_certificates, 
.component_proyects, .component_contacts {
    background-color: $background_one;
};


/*

*/
.box_skills, .container_certify {
    background-color: $background_one;
    border: 1px solid rgba(0, 0, 0, 0.150);
    border-radius: 10px;
}


/* 
    propiedades compartidas por la TAG BUTTON
*/
.box_btn {
    text-align: center;

    button {
        outline: none;
        border: none;
        background-color: $background_three;
        color: $color_one;
        font-size: 20px;
        font-family: 'PT Sans', sans-serif;
        letter-spacing: 1px;
        border-radius: 5px;
        padding: 16px 70px;
        cursor: pointer;
        
        &.btn_animated {
            transition: transform 0.5s ease;
            
            &:hover {
                transform: translateY(-8px);
                box-shadow: $shadow_four;
            };
        };
    };
};


/*
    propiedades compartidas por las TAG H3
*/
h3 {
    text-align: center;
    color: $color_three;
    font-family: 'Open sans', sans-serif;
    
    @media (max-width: 999px) { // dispositivos 999px <= <= <=
        font-size: 40px;
        // margin-bottom: 15px;
    };

    @media (min-width: 1000px) { // dispositivos 1000px => => =>
        font-size: 60px;
        // margin-bottom: 30px;
    };
};


/*
    propiedades compartidas por las TAG P
*/
p {
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    line-height: 1.5;
};


h2, h4, p {
    color: $color_two;
};

/*
    propiedades compartidas por las TAG ION-ICON
*/
ion-icon {
    font-size: 25px;
};


hr {
    visibility: hidden;
}

a {
    font-family: 'Baloo', sans-serif;
    font-size: 1.1rem;
    color: $color_three;
}

h1, h2, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    // font-family: 'Open sans', sans-serif;
}

.box_border {
    border-top: 3px solid $color_three;
    width: 200px;
    
    @media (max-width: 999px) { // dispositivos 999px <= <= <=
        margin: 0 auto 30px;
    };
    
    @media (min-width: 1000px) { // dispositivos 1000px => => =>
        margin: 0 auto 50px;
    };
}

.box_imgMovil {
    text-align: center;

    img {
        width: 140px;
        height: 140px;
        border: 5px solid $background_three;
        border-radius: 5px;
        padding: 0 0 0 10px;
        
        @media (max-width: 999px) { // dispositivos 999px <= <= <=
            display: inline-block;
            margin-bottom: 20px;
        };
        
        @media (min-width: 1000px) { // dispositivos 1000px => => =>
            display: none;
        }
    };
}