/*
    @imports: importacion de variables y fuentes utilizadas en este proyecto,
    layout contiene la importacion de los estilos de cada una se las secciones.
    ruta de los archivos 'src/sass/shared'
*/
@import './shared/variables';
@import './shared/fonts';
@import './shared/layout';


/*
    reseteo de las propiedades que traen por defecto los navegadores
*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
};

html {
    scroll-behavior: smooth;
}


/*
    body
*/
body {
    background-color: $background_four;

    /*
        js_body_dark_mode: clase añadida con javascript en 'src/js/header.js'
        que añade un color de fondo para este elemento
    */
    &.js_body_dark_mode { 
        background-color: #3c4042ea; 
    };

    &.js_hidden_scroll {
        overflow-y: clip;
    }
};


/*
    dark_components
*/
.dark_components {
    /*
        js_dark_mode_components: clase añadida con javascript en 'src/js/header.js'
        que añade un color de fondo para este elemento
    */
    &.js_dark_mode_components {
        background-color: #46484A;
    };
};


/*
    light_text
*/
.light_text {
    /*
        js_dark_mode_components: clase añadida con javascript en 'src/js/header.js'
        que añade color a los textos de este elemento
    */
    &.js_light_text {
        color: $color_one;
    };
};

/* 
    propiedades compartidas por la TAG BUTTON
*/
.box_btn {
    text-align: center;

    button {
        outline: none;
        border: none;
        background-color: $background_three;
        color: $color_one;
        font-size: 20px;
        font-family: 'PT Sans', sans-serif;
        letter-spacing: 1px;
        border-radius: 5px;
        padding: 16px 70px;
        cursor: pointer;
        
        &.btn_animated {
            transition: transform 0.5s ease;
            
            &:hover {
                transform: translateY(-8px);
                box-shadow: $shadow_four;
            };
        };
    };
};

/*
    propiedades compartidas entre los 
    SKILLS, CERTIFICATES, PROYECTS y CONTACTS
*/
.skills_component, .certificates_component,
.proyects_component, .contacts_component {
    margin-top: 80px;
    padding: 40px 20px;
};


/*
    propiedades compartidas entre los COMPONENTES BANNER,
    PROYECTS y CONTACTS
*/
.skills_component, .certificates_component, .contacts_component {
    background-color: $background_one;
};


/*

*/
.box_skill_cards, .certificates_section {
    background-color: $background_one;
}





/*
    propiedades compartidas por las TAG H3
*/
h3 {
    text-align: center;
    color: $color_three;
    font-family: 'Open sans', sans-serif;
    
    @media (max-width: 999px) { // dispositivos 999px <= <= <=
        font-size: 40px;
        // margin-bottom: 15px;
    };

    @media (min-width: 1000px) { // dispositivos 1000px => => =>
        font-size: 60px;
        // margin-bottom: 30px;
    };
};


/*
    propiedades compartidas por las TAG P
*/
p {
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    line-height: 1.5;
};


h2, h4, p {
    color: $color_two;
};

a {
    font-family: 'Baloo', sans-serif;
    font-size: 1.1rem;
    color: $color_three;
}

h1, h2, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    // font-family: 'Open sans', sans-serif;
}

.box_title_border {
    border: 2px solid $color_three;
    width: 200px;
    
    @media (max-width: 999px) { // dispositivos 999px <= <= <=
        margin: 0 auto 30px;
    };
    
    @media (min-width: 1000px) { // dispositivos 1000px => => =>
        margin: 0 auto 50px;
    };
}

.box_imgMovil {
    text-align: center;

    img {
        width: 140px;
        height: 140px;
        border: 5px solid $background_three;
        border-radius: 5px;
        padding: 0 0 0 10px;
        
        @media (max-width: 999px) { // dispositivos 999px <= <= <=
            display: inline-block;
            margin-bottom: 20px;
        };
        
        @media (min-width: 1000px) { // dispositivos 1000px => => =>
            display: none;
        }
    };
}