/* ____________________ start icon check style ____________________ */

/*
    _iconCheckStyle: mixin aplicado a las tag-svg que sean iconos de check
*/
@mixin iconCheckStyle {    
    fill: $mainPageColor;
    width: 34px;
    height: 34px;
}

/* ____________________ end icon check style ____________________ */