/* ____________________ start main colors ____________________ /*

/*
    $mainPageColor: almacena el color principal de la pagina
    el cual es impelmentado en varios elementos html

    $mainPageBackgroundColor: almacena el color de fondo principal 
    de la pagina el cual es impelmentado en varios elementos html

    $mainPageBorderColor: almacena el color de bordes principal 
    de la pagina el cual es impelmentado en varios elementos html
*/
$mainPageColor: rgb(233, 54, 15);
$mainPageBackgroundColor: rgb(233, 54, 15);
$mainPageBorderColor: rgb(233, 54, 15);

/* ____________________ end main colors ____________________ /*



/* ____________________ start colors ____________________ /*

/*
    light text colors
*/
$lightColorTextOne: #fff;

/*
    dark text colors
*/
$darkColorTextOne: #7e7b7c;
$darkColorTextTwo: #333;

/* ____________________ end colors ____________________ /*


/* ____________________ start backgrounds ____________________ /*

/*
    light background colors
*/
$lightBackgroundOne: #bcc0c4;
$lightBackgroundBody: #eee;
$lightBackgroundComponents: #fff;
$lightBackgroundOverlay: #f5f6f6;

/*
    dark background colors
*/
$darkBackgroundBody: #3c4042ea;
$darkBackgroundComponents: #46484A;
$darkBackgroundOverlay: #00000080;

/* ____________________ end backgrounds ____________________ /*


/* ____________________ start shadows ____________________ /*
    
/*
    light shadow colors
*/
$lightShadowOne: #c1c1c1;
$lightShadowTwo: #ccc;


/*
    dark shadow colors
*/
$darkShadowOne: #0000001f;
$darkShadowTwo: #686767d8;

/* ____________________ end shadows ____________________ /*



/* ____________________ start borders ____________________ /*

/*
    light border colors
*/
$lightBorderOne: #fff;

/*
    dark border colors
*/
$darkBorderOne: #00000026;



