/*
    colores
*/
$color_one: #fff;
$color_two: #7e7b7c;
// $color_three: #0e89fc; color original
$color_three: rgb(233, 93, 91);
$color_four: #333;

/*
    fondos
*/
$background_one: #fff;
// $background_three: #0e89fc; background original
$background_three: rgb(233, 93, 91);
$background_four: #eee;
$background_five: #0000004b;


/*
    sombras
*/
$shadow_one: 0 0 10px 0 #0000001f;
$shadow_four: 0 5px 15px -5px #686767d8;
$shadow_five: #8d8a8a55;

/*
    bordes
*/
$border_one: 1px solid #cccccc86;
$border_two: 1px solid #cccccc46;