/*
    colores
*/
$color_one: #fff;
$color_two: #7e7b7c;
$color_three: #4D5BF9;
$color_four: #333;

/*
    fondos
*/
$background_one: #fff;
$background_three: #4D5BF9;
// $background_four: #f8f8f8;
$background_four: #fcfafa;
$background_five: #0000004b;


/*
    sombras
*/
$shadow_one: 0 0 10px 0 #0000001f;
$shadow_three: #4d5bf9b7;
$shadow_four: 0 0 6px 0 #e2dede;
$shadow_five: #8d8a8a55;

/*
    bordes
*/
$border_one: 1px solid #cccccc86;