.component_banner {
    background-color: $background_one;

    @media (max-width: 999px) { // dispositivos 1000px <= <= <=
        // padding: 40px 20px 20px;
    };
    
    @media (min-width: 1000px) { // dispositivos 1000px => => =>
        display: flex;
        align-items: center;
        border-radius: 10px;
        // padding: 20px 40px;
    };

    .box_img_banner {
        text-align: center;

        img {
            border: 5px solid $background_three;
            border-radius: 50%;
            width: 130px;
            height: 130px;
            // padding: 18px;
            // box-shadow: $shadow_four;
        };
        
        .box_hdv_banner {
            margin: 10px 0;

            a {
                color: $color_three;
            };
        };
    };


    .box_biografy_banner {

        p {
            text-align: justify;
            
            @media (max-width: 999px) { // dispositivos 1000px <= <= <=
                // margin: 20px 0;
            };

            @media (min-width: 1000px) { // dispositivos 1000px => => =>
            //    margin: 16px 0 0 30px;
            };
        };

        .box_btn {
            margin: 40px 0 25px
        };
    };
};