.component_banner {
    background-color: $background_one;
    border: $border_one;

    @media (max-width: 900px) { // dispositivos 1000px => => => 
        padding: 40px 40px 20px;
    };
    
    @media (min-width: 1000px) { // dispositivos 1000px => => =>
        display: flex;
        align-items: center;
        padding: 40px;
        border-radius: 10px;
    };

    .box_img_banner {
        text-align: center;

        img {
            border: 5px solid $background_three;
            border-radius: 50%;
            width: 160px;
            height: 160px;
            padding: 18px;
            box-shadow: $shadow_four;
        };
        
        .box_hdv_banner {
            margin-top: 8px;

            a {
                color: $color_three;
            };
        };
    };


    .box_biografy_banner {
        
        p {
            text-align: justify;
            margin: 20px;

            @media (min-width: 1000px) { // dispositivos 1000px => => =>
               padding-left: 40px;
            };
        };

        .box_btn {
            margin: 50px 0 30px
        };
    };
};