.component_certificates {

    .container_certify {
        background-color: $background_one;
        border-radius: 10px;
        border: $border_one;
        margin: 25px 0;
        padding: 24px;

        /*
            definimos FLEXBOX para alinear y centrar los elementos
        */
        .box_title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;

            h2 {
                color: $color_two;
                font-family: 'Open Sans', sans-serif;
                font-size: 28px;
            };

            .icon_certify {
                font-size: 28px;
                margin-top: 5px;
                transition: transform .3s ease-in-out;
            
                /*
                    clase añadida con 'src/js/certificates/js' a ICON_CERTIFY 
                */
                &.rotate_icon {
                    transform: rotate(180deg);
                };
            };
        };

        .content_certify {
            height: 0;
            overflow: hidden;

            /*
                clase añadida con 'src/js/certificates/js' a CONTENT_CERTIFY 
            */
            &.show_certify {
                height: inherit;
                overflow: visible;
            };

           
            h4 {
                color: $color_two;
                margin: 10px 0;
            };
            

            .text_certify {
                margin: 20px 0;
            };

            .box_certify {

                a {
                    display: block;
                    margin: 14px 0;
                };
            };
        };
    };
};

/*
    TAGS de este componente que comparten propiedades 
*/
.icon_certify, strong, a {
    color: $color_three;
};

