.component_certificates {

    .container_certify {
        
        @media (max-width: 999px) { // dispositivos 999px <= <= <=
            padding: 12px 24px;
            margin-bottom: 25px;
        };
        
        @media (min-width: 1000px) { // dispositivos 1000px <= <= <=
            width: calc(100% - 300px);
            padding: 20px 40px;
            margin: 0 auto 25px;
        };

        
        /*
            definimos FLEXBOX para alinear y centrar los elementos
        */
        .box_title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;

            h2 {
                font-size: 2rem;
            };

            .icon_certify {
                font-size: 28px;
                color: $color_three;
                margin-top: 5px;
                transition: transform .3s ease-in-out;
            
                /*
                    clase añadida con 'src/js/certificates/js' a ICON_CERTIFY 
                */
                &.rotate_icon {
                    transform: rotate(-180deg);
                };
            };
        };


        .content_certify {
            max-height: 0;
            overflow: hidden;
            transition: max-height .7s ease-out;

           
            h4 {
                margin: 10px 0;
            };
            

            .text_certify {
                margin: 20px 0;

                strong {
                    color: $color_three;
                    letter-spacing: 1.1px;
                };
            };

            .box_certify {

                a {
                    display: block;
                    margin: 14px 0;
                };
            };
        };
    };
};
