/*
    footer_component
*/
.footer_component { 
    text-align: center;

    /*
        tag-svg: definimos visibility: hidden para ocultar el icono
    */ 
    svg {
        width: 38px;
        height: 38px;
        visibility: hidden;

        /*
            .js_show_gotop: clase añadida desde 'src\js\footer.js' que añade 
            .color y color de fondo a este elemento que junto con visibility: visible 
            .lo hacemos nuevamente visible
        */
        &.js_show_gotop {
            fill: $lightColorIconsOne;
            background-color: $mainPageBackgroundColor;
            border-radius: 50%;
            box-shadow: 0 5px 10px 0 var(--shadowColor);
            visibility: visible;
            animation: animateGotop 1s ease 1s 3;
            cursor: pointer;

            /*
                animateGotop: en 0% implementamos un transform: translateY(0)
                en 50% implementamos un transform: translateY(0) para trasladar 
                elicono -30px hacia arriba finalemnte en 100% vuelve a su 
                posicion original
            */
            @keyframes animateGotop {
                0% {
                    transform: translateY(0);
                }
                50% {
                    transform: translateY(-30px);
                }
                100% {
                    transform: translateY(0);
                }
            }
        }

        /*
            @query 499px <== : definimos un margen para este elemento en esta medida
        */
        @media (max-width: 499px) {
            margin: 40px 0 20px;
        }

        /*
            @query 500px ==> : definimos position: fixed y sus propiedades right, 
            bottom y z-index para darle posicion a este elemento en esta medida
        */
        @media (min-width: 500px) {
            position: fixed;
            right: 5px;
            bottom: 40px;
            z-index: 69;
        }
    }

    /*
        tag-p
    */
    p {
        padding-bottom: 40px;

        /*
            @query 500px ==> : modificamos el espaciado de este elemento en esta medida
        */
        @media (min-width: 500px) {
            padding: 40px 0;
        }
    }
}