/*
    footer_component
*/
.footer_component { 
    text-align: center;

    /*
        tag-svg: definimos visibility: hidden para ocultar el icono
    */ 
    svg {
        width: 38px;
        height: 38px;
        visibility: hidden;

        /*
            .js_show_gotop: clase añadida desde 'src\js\footer.js' que añade 
            .color y color de fondo a este elemento que junto con visibility: visible 
            .lo hacemos nuevamente visible
        */
        &.js_show_gotop {
            fill: $lightColorIconsOne;
            background-color: $mainPageBackgroundColor;
            border-radius: 50%;
            box-shadow: 0 5px 10px 0 var(--shadowColor);
            visibility: visible;
            animation: animateGotop 1s ease 1s 3;
            cursor: pointer;

            /*
                animateGotop: en 0% implementamos un transform: translateY(0)
                en 50% implementamos un transform: translateY(0) para trasladar 
                elicono -30px hacia arriba finalemnte en 100% vuelve a su 
                posicion original
            */
            @keyframes animateGotop {
                0% {
                    transform: translateY(0);
                }
                50% {
                    transform: translateY(-30px);
                }
                100% {
                    transform: translateY(0);
                }
            }
        }

        /*
            @query 499px <== : definimos un margen para este elemento en esta medida
        */
        @media (max-width: 499px) {
            margin: 40px 0 30px;
        }

        /*
            @query 500px ==> : definimos position: fixed y sus propiedades right, 
            bottom y z-index para darle posicion a este elemento en esta medida
        */
        @media (min-width: 500px) {
            position: fixed;
            right: 5px;
            bottom: 40px;
            z-index: 69;
        }
    }

    /*
        tag-p
    */
    p {   
        padding: 20px 0 40px;
    }

    /*
        footer_flags: definimos flexbox y sus propiedades
        justify-content y align-items para centrar de manera
        horizontal y vertical los elementos que este contiene
    */
    .footer_flags {
        display: flex;
        justify-content: center;
        align-items: center;
        
        /*
            _@query 500px ==> : definimos un espaciado en la parte
            _superior para este elemento en esta medida
        */
        @media (min-width: 500px) {
            padding-top: 40px;
        }

        /*
            espanish_flag y english_flag: es importante definir
            un width y height para ajustar el tamaño de estos
            contenedores
        */
        .espanish_flag, .english_flag {
            width: 35px;
            height: 25px;
            margin: 0 8px;
            box-shadow: 0 5px 10px 0 var(--shadowColor);
            cursor: pointer;

            /*
                tag-img: es importante que el width y height sea igaul
                al de su contenedor padre, finalmente la propiedad
                object-fit: cover que permite ajustar la imagen a
                su contenedor padre
            */
            img {
                width: inherit;
                height: inherit;
                object-fit: cover;
            }
        }
    }
}