.component_skills {
  
  /*
    usamos DISPLAY para crear una rejilla
  */
  .container_skills {
    display: grid;
    gap: 10px;

    @media (max-width: 799px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 800px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: 1000px) {
      grid-template-columns: repeat(4, 1fr);
    }
      
    /*
      importante definir POSITION y Z-INDEX para posicionar
      esta TAG sobre la barra de progreso
    */
    .box_skills { 
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 350px;
      cursor: pointer;

      &:hover{
        transform: translateY(-50px);
        transition: all ease 0.2s;
      }

      .box_content_skills {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        img {

          @media (max-width: 479px) {
            width: 64px;
            height: 64px;
          };

          @media (min-width: 480px) {
            width: 114px;
            height: 114px;
          };

          @media (min-width: 1000px) {
            width: 124px;
            height: 124px;
          };
        };
      
        /*
          definimos OPACITY 0 para luego redefinirlo cuando
          hagamos :HOVER en las TAGS ARTICLES
        */
        p {
          font-size: 0.9rem;
          text-align: center
        };
      };
    };
  };
};