.component_navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 89;
    background-color: $background_three;
    height: 100vh;

    // @media (max-width: 599px) { // dispositivos 599px <= <= <=
    //     margin-top: 60px;
    // };
    
    // @media (min-width: 700px) { // dispositivos 700px => => =>
    //     margin-top: 60px;
    // };

    
    ul {
        padding: 20px 0 20px 9px;
        
        li {
            list-style: none;

            /*
                clase añadida con javascript... 
                define propiedades cuando el enlace de 
                navegacion es seleccionado por el usuario
            */
            &.active_link {
                background-color: $background_one;
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
            
                a {
                    color: $color_four;
                }
            }; 

            /*
                TAG referente al redireccionamiento en el sitio web
                usamos FLEXBOX  y HEIGHT para alinear los iconos y los titulos
                verticalmente
            */
            a {
                text-decoration: none;
                display: flex;
                height: 60px;
                font-family: 'PT Sans', sans-serif;
                font-size: 20px;
                align-items: center;
                color: $color_one;

                .icon_ion {
                    margin: 3px 35px 0 15px;
                    line-height: 20px;
                };
            };
        };
    };

    .box_navbar_colors {
        
        button {
            font-size: 22px;
            width: 100%;    
            padding: 20px 0 !important;
            box-shadow: none !important;
        };
    };
};