/*
    esta clase hace referencia a contenedor del sidebar...
    hacemos uso de la propiedad HIDDEN para ocultar el 
    esceso visual de contenido debido a su poco WIDTH... 
    la transicion la usamos para suavizar el :HOVER
*/
.component_navbar {
    background: rgba(255, 0, 0, 0.452);
    // width: 100%;
    // height: 100px;
    // position: fixed;
    // top: 60px;
    // left: 0;
    // z-index: 79;
    // display: flex;
    // align-items: center;
    // transition: min-width .5s ease;
    // background: rgba(25, 119, 25, 0.445);

    /*
        propiedades para diseño resposive en
        dispositivos moviles 999px <= <= <=
    */
    @media (max-width:999px) {
        // min-width: 0%;

        /*
            clase añadida con 'src/js/header.js' a COMPONENT_NAVBAR
        */
        // &.open_navbar { min-width: 75px; };

        // &:hover { min-width: 240px; }; // hover encargado de redefinir el ancho
    };
    
    /*
        propiedades para diseño resposive en 
        tablets y destoks 1000px => => =>
    */
    @media (min-width:1000px) {
        // min-width: 75px;

        /*
            clase añadida con 'src/js/header.js' a COMPONENT_NAVBAR
        */
        // &.close_navbar { min-width: 0%; }

        // &:hover { min-width: 240px; }; // hover encargado de redefinir el ancho
    };

    .box_nav_navbar {
        background-color: $background_three;
        // border-radius: 0 10px 10px 0;
        width: 75px;
        position: fixed;
        left: 0;
        z-index: 89;
        height: 100vh;
        overflow-x: hidden;
        transition: width .5s ease;

        @media (max-width: 499px) {
            top: 60px;
        };

        @media (min-width: 600px) {
            top: 60px;
        };

        ul {
            padding: 40px 0 40px 9px;
            
            li {
                list-style: none;

                /*
                    clase añadida con javascript... 
                    define propiedades cuando el enlace de 
                    navegacion es seleccionado por el usuario
                */
                &.active_link {
                    background-color: $background_one;
                    border-top-left-radius: 20px;
                    border-bottom-left-radius: 20px;
                
                    a {
                        color: $color_four;
                    }
                }; 

                /*
                    TAG referente al redireccionamiento en el sitio web
                    usamos FLEXBOX  y HEIGHT para alinear los iconos y los titulos
                    verticalmente
                */
                a {
                    text-decoration: none;
                    display: flex;
                    height: 60px;
                    font-family: 'PT Sans', sans-serif;
                    align-items: center;
                    color: $color_one;

                    .icon_ion {
                        margin: 0 28px 0 13px;
                        line-height: 20px;
                    };
                };
            };
        };
    };

    .box_navbar_colors {
        
        button {
            outline: none;
            border: none;
            background-color: $background_three;
            color: $color_one;
            font-size: 22px;
            font-family: 'PT Sans', sans-serif;
            letter-spacing: 1px;
            border-radius: 0 0 10px 0;
            width: 100%;
            padding-bottom: 40px;
            cursor: pointer;
            transition: transform 0.5s ease;
   
            &:hover {
                transform: translateY(-8px);
            };
        }
    }
}