/*
    esta clase hace referencia a contenedor del sidebar...
    hacemos uso de la propiedad HIDDEN para ocultar el 
    esceso visual de contenido debido a su poco WIDTH... 
    la transicion la usamos para suavizar el :HOVER
*/
.component_navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 89;
    height: 100vh;
    transition: width .5s ease;

    @media (max-width: 599px) {
        top: 60px;
    };

    @media (min-width: 700px) {
        top: 60px;
    };

    /*
        propiedades para diseño resposive en
        dispositivos moviles 999px <= <= <=
    */
    @media (max-width:1099px) {
        width: 0%;

        /*
            clase añadida con 'src/js/header.js' a COMPONENT_NAVBAR
        */
        &.open_navbar { width: 75px; };

        &:hover { width: 240px; }; // hover encargado de redefinir el ancho
    };
    
    /*
        propiedades para diseño resposive en 
        tablets y destoks 1000px => => =>
    */
    @media (min-width:1100px) {
        width: 75px;

        /*
            clase añadida con 'src/js/header.js' a COMPONENT_NAVBAR
        */
        &.close_navbar { width: 0%; }

        &:hover { width: 240px; }; // hover encargado de redefinir el ancho
    };

    .box_nav_navbar {
        background-color: $background_three;
        height: 100%;
        overflow-x: hidden;

        ul {
            padding: 40px 0 40px 9px;
            
            li {
                list-style: none;

                /*
                    clase añadida con javascript... 
                    define propiedades cuando el enlace de 
                    navegacion es seleccionado por el usuario
                */
                &.active_link {
                    background-color: $background_one;
                    border-top-left-radius: 20px;
                    border-bottom-left-radius: 20px;
                
                    a {
                        color: $color_four;
                    }
                }; 

                /*
                    TAG referente al redireccionamiento en el sitio web
                    usamos FLEXBOX  y HEIGHT para alinear los iconos y los titulos
                    verticalmente
                */
                a {
                    text-decoration: none;
                    display: flex;
                    height: 60px;
                    font-family: 'PT Sans', sans-serif;
                    align-items: center;
                    color: $color_one;

                    .icon_ion {
                        margin: 0 35px 0 15px;
                        line-height: 20px;
                    };
                };
            };
        };
    };

    .box_navbar_colors {
        
        button {
            outline: none;
            border: none;
            background-color: $background_three;
            color: $color_one;
            font-size: 22px;
            font-family: 'PT Sans', sans-serif;
            letter-spacing: 1px;
            width: 100%;    
            padding: 20px 0;
            cursor: pointer;
            transition: transform 0.5s ease;
   
            &:hover {
                transform: translateY(-8px);
            };
        }
    }
}


/*
    definimos WIDTH en las medidas definidas en las media QUERYS
*/
.fixed_navbar {
    transition: min-width 0.5s ease;

    @media (max-width: 1099px) { // dispositivos 999px <= <= <=
        min-width: 0;
    };

    @media (min-width: 1100px) { // dispositivos 1000px => => =>
        min-width: 75px;

        &.close_fixed { min-width: 0%; }
    };
};