/*
	proyects_component
*/
.proyects_component {
	/*
		proyects_container: definimos un width: 90% para que sea en alncho
		maximo de este contenedor en referencia al ancho de su contenedor 
		padre, finalmente margin: 0 auto para centrarlo de manera horizontal
	*/
	.proyects_container {
		width: 90%;
		margin: 0 auto;

		/*
			proyects_flexbox
		*/
		.proyects_flexbox {
			/*
				swiper: la libreria le define por defecto position: relative
				esto evita que los iconos de la paginacion se desplazen hacia 
				arriba cuando reducimos el alto de la pantalla, finalmente 
				padding nos ayuda a ampliar la altura de este contenedor 
				evitando que los iconos de la navegacion se monten encima 
				de las targetas
			*/
			.swiper {
				/*
					_responsive 900px ==> : definimos flexbox y su propiedad 
					_align-items para centrar de manera vertical los elementos 
					_que este contiene
				*/
				@media (min-width: 900px) {
					// padding-bottom: 50px;
					box-shadow: 0 5px 10px 0 var(--shadowColor);
				}

				/*
					swiper-wrapper
				*/
				.swiper-wrapper {
					/*
						swiper-slide
					*/
					.swiper-slide {
						// width: 100% !important;
						cursor: pointer;
						
						/*
							_responsive 900px ==> : definimos flexbox para poner en linea los
							_elementos que este contiene para esta medida
						*/
						@media (min-width: 900px) {
							display: flex;
						}

						/*
							box_proyect_img
						*/
						.box_proyect_img {
							/*
								_responsive 900px ==> : modificamos el ancho de este
								_elemento para esta medida
							*/
							@media (min-width: 900px) {
								width: 65%;
							}

							/*
								tag-img: definimos un width: 100% y height: auto junto con la
								propiedad object-fit: cover para que la img se ajuste al ancho 
								de contenedor padre 
							*/
							img {
								width: 100%;						
								height: auto;
								object-fit: cover;
							}
						}

						/*
							box_proyect_description: definimos un espaciado en el eje X
							para separar los elementos de los bordes del contenedor
						*/
						.box_proyect_description {
							font-family: 'ubuntu-medium', sans-serif;
							padding: 20px 0 30px;

							/*
								_responsive 900px ==> : definimos ancho de 35% y un espaciado en 
								_el eje Y para este elemento en esta medida
							*/
							@media (min-width: 900px) {
								width: 35%;
								padding: 20px 20px;
							}

							/*
								tag-a
							*/
							a {
								text-decoration: underline;
								font-size: 28px;
								line-height: 1.1;

								/*
									_responsive 1200px ==> : modificamos el tamaño de fuente 
									_de este elemento en esta medida
								*/
								@media (min-width: 1200px) {
									font-size: 38px;
								}

								/*
									_responsive 899px <== : modificamos el tamaño de fuente 
									_de este elemento en esta medida
								*/
								@media (max-width: 899px) {
									font-size: 34px;
								}

								/*
									_responsive 649px <== : modificamos el tamaño de fuente 
									_de este elemento en esta medida
								*/
								@media (max-width: 649px) {
									font-size: 30px;
								}

								/*
									_responsive 549px <== : modificamos el tamaño de fuente 
									_de este elemento en esta medida
								*/
								@media (max-width: 549px) {
									font-size: 26px;
								}
							}

							/*
								tag-p
							*/
							p {
								font-family: 'ubuntu-medium', sans-serif;
								margin: 16px 0;
							}

							/*
								tag-ul
							*/
							ul {
								/*
									tag-li
								*/
								li {
									list-style: none;
									color: var(--textColor);
									font-size: 18px;

									/*
										tag-svg: implementamos el mixin 'iconCheckStyle' definido en 
										'src\sass\shared\_mixins.scss' que contiene los estilos principales 
										de este elemento
									*/
									svg {
										@include iconCheckStyle;
									}
								}
							}
						}
					}
				}

				/*
					swiper-button-next, swiper-button-prev: tienen definido por 
					defecto position absolute
				*/
				.swiper-button-next,
				.swiper-button-prev {
					/*
						_responsive 899px <== : definimos display: none para remover
						_de la vista este elemento a partir de esta medida
					*/
					@media (max-width: 899px) {
						display: none;
					}

					/*
						_responsive 900px ==> : definimos estilos que solo seran aplicados
						_a este elemento a partir de esta medida
					*/
					@media (min-width: 900px) {
						background-color: $mainPageBackgroundColor;
						border-radius: 100%;
						width: 40px;
						height: 40px;
						box-shadow: 0 5px 10px 0 var(--shadowColor);

						/*
							.:after: para cambiar estas propiedades de los iconos de slider
							.debemos hacerlo haciendo uso del pseudo elemento ::after
						*/
						&:after {
							color: #fff;
							font-size: 20px;
							font-weight: bold;
						}
					}
				}

				/*
					swiper-button-next: definiendo la propiedad right podemos
					determinar la posicion de este icono
				*/
				.swiper-button-next {
					right: 40px;
				}

				/*
					swiper-button-prev: definiendo la propiedad left podemos
					determinar la posicion de este icono
				*/
				.swiper-button-prev {
					left: 40px;
				}

				/*
					swiper-pagination: tiene definido por defecto 
					position: absolute
				*/
				.swiper-pagination {
					// color: #fff;
					// background-color: rgba(0, 139, 139, 0.575);

					/*
						_responsive 900px ==> : definimos display: none para remover
						_de la vista este elemento a partir de esta medida
					*/
					@media (min-width: 900px) {
						display: none;
					}
				}
			}
		}
	}
}


